body{
    background-color: #F5F7FF;
}
.signin-sec{
    width: 100%;
    padding-top: 100px;
    text-align: center;  
}

.signin-sec .box{
    border-radius: 25px;
    padding: 25px;
}
.signin-sec .box h2{
    margin: 25px 0;
}
.signin-sec .box form{
 width: 80%;
 margin: 0 auto;
 text-align: left;
}
.signin-sec .box form input{
    width: 100%;
    background-color: #e4e6d8;
    outline: none;
    border: none;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 50px;
}
.signin-sec .box form label{
 margin-left: 25px;
 font-weight: bold;
 margin-bottom: 5px;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.signin-sec .box form input[type="checkbox"]{
    width: auto;
    margin-left: 20px;
    margin-right: 10px;
}
.signin-sec .box form input[type="submit"]{
    width: auto;
    background-color: #42358d;
    color: #fff;
    padding: 10px 50px;
    border-radius: 50px;
    font-size: 18px;
    
}
.btn-area{
    text-align: center;
    margin: 15px 0;
}


@media (max-width: 768px) {
    .signin-sec span, a{
        font-size: 12px;
    }
 
    .btn-area a{
        font-size: 16px;
    }
}